<%- include('partials/header') %>

<form method="post" enctype="multipart/form-data">
<div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" value="<%= note.title %>">
</div>
<div class="form-group">
    <label for="image">Image:</label>
    <input class="form-control-file" type="file" id="image" disabled>
</div>
<div class="form-group">
    <label for="notes">Notes:</label>
    <textarea class="form-control" name="notes" id="notes" cols="30" rows="10"><%= note.notes %></textarea>
</div>
<button class="btn btn-primary px-3">Edit Note</button>
</form>

<script>

    button = document.querySelector('button')
    button.addEventListener('click',(e)=>{
        e.preventDefault();
        title = document.querySelector('#title').value
        notes = document.querySelector('#notes').value
        formData = new FormData()
        formData.append('title',title)
        formData.append('notes',notes)
        fetch('/notes/<%=note._id%>',
        {
            method: 'PUT',
            body: formData
        })
        .then(res=>res.json())
        .then(json=>window.location.href = json.redirect)
        .catch(err=>console.log(err))
    })
</script>
<%- include('partials/footer') %> 